<div id="details" class="hideable">
    <ul>
        <li id="humidity" class="normalLi">###HUMIDITY_LABEL###<span>###HUMIDITY_VALUE###</span></li>
        <li id="visibility" class="normalLi">###VISIBILITY_LABEL###<span>###VISIBILITY_VALUE###</span></li>
        <li id="pressure" class="normalLi">###PRESSURE_LABEL###<span>###PRESSURE_VALUE###</span></li>
        <li id="precipitation">###PRECIPITATION_LABEL###<span>###PRECIPITATION_VALUE###</span></li>
    </ul>
    <ul>
        <li id="sunrise" class="normalLi">###SUNRISE_LABEL###<span>###SUNRISE_VALUE###</span></li>
        <li id="sunset">###SUNSET_LABEL###<span>###SUNSET_VALUE###</span></li>
    </ul>
</div>