<div id="resultsSummary">
    <h4 id="now">###DT_VALUE###</h4>
    <h2 id="temp" class="hideable">###TEMP_VALUE###&#160;
        <img src="###ICON###" alt="###DESCRIPTION_VALUE###" title="###DESCRIPTION_VALUE###">
    </h2>
    <div id="wind" class="hideable">
        <!--Arrow indicating wind direction and strength here-->
        <div id="arrow" title="###WIND_SPEED_VALUE### ###WIND_DIRECTION_VALUE###"
                style="-webkit-transform: rotate(###ROTATION###);
                 -moz-transform: rotate(###ROTATION###);
                 -ms-transform: rotate(###ROTATION###);
                 -o-transform: rotate(###ROTATION###);
                 transform: rotate(###ROTATION###);">
            <div id="shaft" class="###ARROW_SHAFT###"></div>
            <div id="head" class="###ARROW_HEAD###"></div>
        </div>
        <span id="wind_label">###WIND_LABEL###</span>
    </div>
    <h4 id="summary" class="hideable">###DESCRIPTION_VALUE###</h4>
</div>